<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
                <p1>
                    <a href="{% url 'todo_list_create' %}">Create New List</a>
                </p1>
                <div>
                    <p2>
                        <a href="{% url 'todo_item_create' %}">Create a new item</a>
                    </p2>
                </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                {% for list in todo_list_list %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</td>
                            <td>{{ list.items.count }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
